* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

header {
  display: flex;
  background-color: #d99962;
  line-height: 1.5;
  align-items: center;
  justify-content: space-between;
  top: 0;
  box-shadow: 0px 10px 15px gray;
  padding: 20px 5%;
}

#hero {
  width: 90%;
  height: 180px;
  margin: 20px auto;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.img-gallery {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
